extends layout

block content
  .row
    .box.title.five.columns.offset-by-one.animated.fadeInLeft.slow
      p ¿Quién soy?
  .row
    .box.eight.columns.offset-by-one.animated.fadeInUp.slow.white.subtitle.qsst
      p.mb Mi nombre es Rogelio Echavarría, soy un estudiante de Creatividad Tecnológica con una enorme pasión por la programación, la fotografía y la labor social.
      p Tengo una personalidad muy risueña, relajada, y disfruto conectar con las personas y aprender de ellas.