extends layout

block content
  .row
    .five.columns.offset-by-one 
      .row
        .box.twelve.columns.title.delay-1s.animated.fadeInLeft.slow
          p Rogelio Echavarría
      .row
        .box.nine.columns.right.white.subtitle.pfst.animated.fadeInUp.delay-1s.slow
          p Developer & fotógrafo enfocado en la creatividad.
    .four.columns.offset-by-one.profile.animated.fadeInRight.delay-1s.slow
      img(src="/images/foto.png", alt="", srcset="")