.row
  .navbar.fadeIn.slow.delay-1s.animated
    .btn.box(class=page == "/" ? "active" : "")
      button.navBtn(location = '/') RE
    .btn.box.right(class=page == "contacto" ? "active" : "")
      button.navBtn(location = '/contacto') Contáctame
    .btn.box.right(class=page == "portafolio" ? "active" : "")
      button.navBtn(location = '/portafolio') Portafolio
    .btn.box.right(class=page == "about" ? "active" : "")
      button.navBtn(location = '/about') Sobre Mi
    